<template name="EditTema">
    <div class="row">
        <h2>Categoria</h2>
        <form class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<input id="id_tema" type="text" class="validate" value="{{tema.id_tema}}" required>
					<label for="id_tema">Id Categoria</label>
				</div>
				<div class="input-field col s12">
					<input id="titulo_tema" type="text" class="validate" value="{{tema.titulo_tema}}" required>
					<label for="titulo_tema">Titulo Categoria</label>
				</div>
				
			</div>			
			<div class="row right-align">
				<button class="btn btn-primary">Enviar</button>
				<button data-target="modal1" class="btn modal-trigger">Eliminar</button>
			</div>
		</form>
	</div>
	<div id="modal1" class="modal">
		<div class="modal-content">
			<h4>Comfirme su eliminación</h4>
			<p>Esta seguro de eliminar a {{tema.titulo_tema}}?</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
			<a class="modal-action modal-close btn btn-primary red delete">Yes</a>
		</div>
	</div>      						
</template>