<template name="Figura">
    <div class="row">
        <h1>figura Geometrica</h1>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="nombre" type="text" class="validate"  required>
                    <label for="nombre">Nombre de la Figura</label>  
                </div>
                <div class="input-field col s6">
                    <input id="color" type="text" class="validate" required>
                    <label for="color">color de la figura</label>                    
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="ancho" type="text" class="validate" required>
                    <label for="ancho">Ancho de la figura</label>                    
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="alto" type="text" class="validate" required>
                    <label for="alto">Alto de la figura</label>                    
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="largo" type="text" class="validate" required>
                    <label for="largo">Largo de la figura</label>                  
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="tamaño" type="text" class="validate" required>
                    <label for="tamaño">Tamaño de la Figura</label>                 
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="lados" type="text" class="validate" >
                    <label for="lados">Lados en caso de no ser circulo</label>                 
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</template>

                    
                                    
                                    
                