<template name="Libro">
   <div class="row">
   <h2>Libro</h2>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="titulo" type="text" class="validate" required>
          <label for="titulo">Título</label>
        </div>
        <div class="input-field col s12">
          <input id="autor" type="text" class="validate" required>
          <label for="autor">Autor</label>
        </div>
        <div class="input-field col s12">
          <input id="anio_publicacion" type="text" class="validate" required>
          <label for="anio_publicacion">Año de publicación</label>
        </div>
        <div class="input-field col s12">
          <input id="editorial" type="text" class="validate" required>
          <label for="editorial">Editorial</label>
        </div>
        <div class="input-field col s12">
          <input id="edicion" type="text" class="validate" required>
          <label for="edicion">Edicion</label>
        </div>
      </div>      
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
</template>