<Template name="Foros">
    <h4>Foros</h4>

   
    <div class="foros-list">  
     

        <div class="card">
            <div class="card-content">
                <table class="highlight responsive-table">
                    <thead>
                    <tr>
                        <th data-field="id">titulo del foro</th>
                        <th data-field="descripcion">Descripcion</th>
                        <th data-field="fecha_creacion_foro">Fecha</th>
                    </tr>
                    </thead>

                    <tbody>
                    {{#each foros}}
                        <tr>
                            <td>{{titulo_foro}}</td>
                            <td>{{descripcion}}</td>
                            <td>{{fecha_creacion_foro}}</td>
							<td>
                                <a href="/foros/{{_id}}" class="btn-floating red right-align">
                                    <i class="large material-icons">mode_edit</i>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red add-forum">
          <i class="large material-icons">Add</i>
        </a>
    </div>

</Template>