<Template name="ForosIndex">
    <h4>Foros</h4>
    <div class="foros-list">        
        <div class="card">
            <div class="card-content">
                <table class="highlight responsive-table">
                    <thead>
                    <tr>
                        <th data-field="id">Titulo del foro</th> 
                        <th data-field="descripcion">Categoria</th>                       
                        <th data-field="fecha_creacion_foro">Fecha</th>
                    </tr>
                    </thead>

                    <tbody>
                    {{#each foros}}
                        <tr class="foro_info" id="{{_id}}">
                            <td>{{titulo_foro}}</td>
                            <td>{{descripcion}}</td>
                            <td>{{createdAt}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</Template>