<template name="ForosRes">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="row">
        <form class="col s12">
			<div class="row">
				<div class="input-field col s12">
					{{#each foros}}
					<h3 class="titleForoRes">{{titulo_foro}}</h3>	
					<h7 class="categoriesForoRes">{{categoria}}</h7>								
						<div class="input-field col s12">	
							<h7 class="owner">{{owner}}</h7>		
							<label for="descripcion">{{descripcion}}						
							<div class="row right-align">
							<a href="#" class="waves-effect waves-light btn"> Respuestas </a>
							{{>Respuestas}}	
							</div> 	
							</label>							 
						</div>
					{{/each}}
				</div>
			 </div> 	
		</form>
    </div>
</template>
