<template name="EditFigura">
    <div class="row">
        <h1>Figuras</h1>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="nombre" type="text" class="validate" value="{{figura.nombre}}" required>
                    <label for="nombre">Nombre de la Figura</label>                    
                </div>
                <div class="input-field col s6">
                    <input id="color" type="text" class="validate" value="{{figura.color}}" required>
                    <label for="color">color de la figura</label>                    
                </div>
                <div class="input-field col s6">
                    <input id="ancho" type="text" class="validate" value="{{figura.ancho}}" required>
                    <label for="ancho">Ancho de la figura</label>                    
                </div>
                <div class="input-field col s6">
                    <input id="alto" type="text" class="validate" value="{{figura.alto}}" required>
                    <label for="alto">Alto de la figura</label>                    
                </div>
                <div class="input-field col s6">
                    <input id="largo" type="text" class="validate" value="{{figura.largo}}" required>
                    <label for="largo">Largo de la figura</label>                    
                </div>
                <div class="input-field col s6">
                    <input id="tamaño" type="text" class="validate" value="{{figura.tamaño}}" required>
                    <label for="tamaño">Tamaño de la Figura</label>                    
                </div>
                <div class="input-field col s6">
                    <input id="lados" type="text" class="validate" value="{{figura.lados}}" required>
                    <label for="lados">Lados en caso de no ser circulo</label>                    
                </div>
            </div>
                        
           <div class="row right-align">
                <button  class="btn btn-primary">Enviar</button>
                <button data-target="modal1" class="btn modal-trigger">Eliminar</button>
            </div>
   
        </form>
    </div>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>comfirmacion de eliminar {{figura.nombre}}</h4>
            <p>Esta seguro de eliminar?</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
            <a class="modal-action modal-close btn btn-primary red delete">Yes</a>
       </div>
    </div>
</template>