<Template name="Libros">
    <h4>Libros</h4>
    <div class="libros-list">        
        <div class="card">
            <div class="card-content">
                <table class="highlight responsive-table">
                    <thead>
                    <tr>
                        <th data-field="id">Titulo</th>
                        <th data-field="modelo">Autor</th>
                        <th data-field="color">Año de publicación</th>
						<th data-field="num_puertas">Editorial</th>
                        <th data-field="valor">Edicion</th>
                        <th> </th>
                    </tr>
                    </thead>

                    <tbody>
                    {{#each libros}}
                        <tr>
                            <td>{{titulo}}</td>
                            <td>{{autor}}</td>
                            <td>{{anio_publicacion}}</td>
							<td>{{editorial}}</td>
							<td>{{edicion}}</td>
                            <td>
                                <a href="/libros/{{_id}}" class="btn-floating red right-align">
                                    <i class="large material-icons">mode_edit</i>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red add-book">
          <i class="large material-icons">add</i>
        </a>
    </div>
        
</Template>