<Template name="Usuarios">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <h4>Usuarios</h4>
    <div class="usuarios-list">        
        <div class="card">
            <div class="card-content">
                <table class="highlight responsive-table">
                    <thead>
                    <tr>
                        <th data-field="id">Id usuario</th>
                        <th data-field="nombres">Nombres</th>
                        <th data-field="nickname">NickName</th>
                        <th data-field="apellidos">Apellidos</th>
						<th data-field="correo">Correo</th>
                        <th data-field="contraseña">Contraseña</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each usuarios}}
                        <tr>
                            <td>{{id_usuario}}</td>
                            <td>{{nombres}}</td>
                            <td>{{nickname}}</td>
                            <td>{{apellidos}}</td>
							<td>{{correo}}</td>
							<td>{{contraseña}}</td>
                            <td>
                                <a href="/usuarios/{{_id}}" class="btn-floating red right-align">
                                    <i class="large material-icons">mode_edit</i>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red add-users">
          <i class="large material-icons">add</i>
        </a>
    </div>        
</Template>