<template name="Respuesta">
   <div class="row">
	<!-- <h2>Respuesta</h2> -->
    <form class="col s12">
		<div class="row">
			<!-- <div class="input-field col s12">
				<input id="id_respuesta" type="text" class="validate" required>
				<label for="id_respuesta">Id</label>
			</div> -->
			<div class="input-field col s12">
				<input id="contenido_respuesta" type="text" class="validate" required>
				<label for="contenido_respuesta">Contenido</label>
			</div>
			<!-- <div class="input-field col s12">
				<input id="fecha_respuesta" type="text" class="validate" required>
				<label for="fecha_respuesta">Fecha</label>
			</div> -->
			
		</div>      
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
</template>