<template name="EditFruta">
    <div class="row">
        <h2>Fruta</h2>
        <form class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<input id="nom_de_fruta" type="text" class="validate" value="{{fruta.nom_de_fruta}}" required>
					<label for="nom_de_fruta">Nombre de fruta</label>
				</div>
				<div class="input-field col s12">
					<input id="num_frutas" type="text" class="validate" value="{{fruta.num_frutas}}" required>
					<label for="num_frutas">Numero de frutas</label>
				</div>
				<div class="input-field col s12">
					<input id="color_fruta" type="text" class="validate" value="{{fruta.color_fruta}}" required>
					<label for="color_fruta">Color de fruta</label>
				</div>
				<div class="input-field col s12">
					<input id="peso_fruta" type="text" class="validate" value="{{fruta.peso_fruta}}" required>
					<label for="peso_fruta">Peso fruta</label>
				</div>
				<div class="input-field col s12">
					<input id="forma_fruta" type="text" class="validate" value="{{fruta.forma_fruta}}" required>
					<label for="forma_fruta">Forma fruta</label>
				</div>
			</div>      
			<div class="row right-align">
				<button class="btn btn-primary send">Send</button>
	<button data-target="modal1" class="btn modal-trigger">Eliminar</button>
</div>

</form>
</div>
<div id="modal1" class="modal">
<div class="modal-content">
<h4>comfirmacion de eliminar {{fruta.nom_de_fruta}}</h4>
<p>Esta seguro de eliminar?</p>
</div>
<div class="modal-footer">
<a href="#" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
<a class="modal-action modal-close btn btn-primary red delete">Yes</a>
</div>
</div>
</template>