
<template name="Foro">



   <div class="row">
   <h2>Foro</h2>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="titulo_foro" type="text" class="validate" required>
          <label for="titulo_foro">Titulo del foro</label>
        </div>
        <div class="input-field col s12">
          <input id="descripcion" type="text" class="validate" required>
          <label for="descripcion">Descripcion</label>
        </div>
        <div class="input-field col s12">
          <input id="fecha_creacion_foro" type="text" class="validate" required>
          <label for="fecha_creacion_foro">Fecha</label>
        </div>
        </div>      
      <button type="submit" class="btn red">Enviar</button>



<header>

  <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
        

</header>




    </form>
  </div>







</template>

