<template name="EditVehiculo">
    <div class="row">
        <h2>Vehiculo</h2>
        <form class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<input id="marca" type="text" class="validate" value="{{vehiculo.marca}}" required>
					<label for="marca">Marca</label>
				</div>
				<div class="input-field col s12">
					<input id="modelo" type="text" class="validate" value="{{vehiculo.modelo}}" required>
					<label for="modelo">Modelo</label>
				</div>
				<div class="input-field col s12">
					<input id="color" type="text" class="validate" value="{{vehiculo.color}}" required>
					<label for="color">Color</label>
				</div>
				<div class="input-field col s12">
					<input id="numero_puertas" type="text" class="validate" value="{{vehiculo.numero_puertas}}" required>
					<label for="numero_puertas">Número de puertas</label>
				</div>
				<div class="input-field col s12">
					<input id="valor" type="text" class="validate" value="{{vehiculo.valor}}" required>
					<label for="valor">Valor</label>
				</div>
			</div>
			<div class="row right-align">
				<button class="btn btn-primary send">Send</button>
				<button class="btn btn-primary red delete">Delete</button>
			</div>      
			
		</form>
    </div>
</template>